.table {
  width: 100%;
  color: var(--color-text);
  border-collapse: collapse;
  
  &__header {
    &-row {
      padding: 1rem 0 1rem 0;
      border-bottom: 1px solid var(--color-table-border);
    }
    &-arrow-up {
      transform: translate(0, .8rem);
    }
    &-arrow-right {
      filter: invert(50%);
      transform: rotate(90deg) translate(0.8rem, 0);
    }

    &-arrow-down {
      transform: rotate(180deg) translate(0, -.8rem);
    }
  }

  &__body {
    tr:last-child {
      border-bottom: 1px solid var(--color-table-border);
    }
    tr:hover {
      background-color: var(--color-row-hover)
    }
    &-row {
      padding: 1rem 0 1rem 0;
    }
  }

  &__footer {
    float: right;
    margin-top: 2rem;
  }
}

.flip-list-move {
  transition: transform 0.5s;
}
